/*
 *	Gallery Styling
 */


.upload-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-form-container {
	background: rgba(130, 130, 130, 0.73);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 7px rgb(163, 163, 163);
    color: white;
}

#gallery-file-upload {
	display: none;
}

.file-upload-custom, .file-reupload-btn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.upload-form label, .upload-form input {
	background-color: white;
	color: var(--bronze);
	font-size: 40px;
	font-weight: 800;
	cursor: pointer;
}

.error-msg {
	padding: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 11px;
    background-color: #ffadd3;
    margin: 16px;
    /* color: white; */
    font-size: 30px;
        display: flex;
    flex-direction: column;
    align-items: center;
}

/*Image gallery styling*/

.gallery-image-thumb{
    background-position: center;
    background-size: cover;
    position: relative;
    width: 25%;
    height: 100%;
    border: 2px solid white;
}

.gallery-thumb-overlay {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.5);
    opacity: 0;
    color: white;
}

.gallery-thumb-overlay > * {
font-size: 40px;
    padding: 5px 20px;}

.gallery-thumb-overlay > * > i {
    cursor: pointer;
}

.gallery-thumb-overlay:hover {
    opacity: 1;
}

.gallery-container {
    display: flex;
    width: 100%;
    height: 30vh;
    flex:1 1 25%;
    flex-wrap:wrap;
}