/*
 *	Gallery Styling
 */


.upload-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-form-container {
	background: rgba(130, 130, 130, 0.73);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 7px rgb(163, 163, 163);
    color: white;
}

#gallery-file-upload {
	display: none;
}

.file-upload-custom, .file-reupload-btn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.upload-form label, .upload-form input {
	background-color: white;
     color: var(--primary-color); 
    font-size: 25px;
    /* font-weight: 800; */
    cursor: pointer;
    border-radius: 10px;
}

.error-msg {
	padding: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 11px;
    background-color: #ffadd3;
    margin: 16px;
    /* color: white; */
    font-size: 30px;
        display: flex;
    flex-direction: column;
    align-items: center;
}


/*Image gallery styling*/
.gallery-container {
        display: flex;
    width: 90%;
    flex: 1 1 25%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-image-thumb{
    background-position: center;
    background-size: cover;
    position: relative;
    width: 231px;
    height: 220px;
    border: 2px solid white;
    box-shadow: 3px 3px 8px rgb(100,100,100);
    margin: 3px;
}

.gallery-thumb-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: space-between;
}

.overlay-info-top, .overlay-info-bottom {
    background-color: rgba(1,1,1,0.5);
    color: white;
    max-height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.overlay-info-top > *, .overlay-info-bottom >* {
    padding: 10px 17px;
}

.gallery-thumb-overlay > * {
    display: flex;
    justify-content: space-between;
    /*padding: 5px 10px;*/
    font-size: 21px;
}

.photographer-name {
    font-size: 20px;
    margin: 0;
    color: white; 
}

.like-box > i {
    cursor: pointer;
    color: white;  
}

.like-box, .image-download-link > i {
    color: white;
}

.gallery-thumb-overlay:hover .overlay-info-top, .gallery-thumb-overlay:hover .overlay-info-bottom  {
    opacity: 1;
    max-height: 500px;
}

.image-enlarge-link img {
    width: 30px;
}


/*  Delete image styling */
.delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.delete-overlay {
    align-items: center;
    justify-content: center;
    background-color: rgba(1,1,1,0.5);
    opacity: 0;
    transition: 0.3s;

}

.delete-overlay:hover {
    opacity: 1;
}

.delete-image:hover {
    cursor: pointer;
}

.confirm-container {
    display: none;
    color: white;
}

.confirm-container-active {
    display: flex;
}

.confirm-container span {
    border: 2px solid;
    padding: 0 12px;
    border-radius: 17px;
    margin: 4px;
}

.confirm-container-active span:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}