/* 
 * HOMEPAGE STYLING
 *
 * Not logged in
 */


.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(images/bunting.png), url(images/paper.png);
    background-position: top;
    background-repeat: repeat-x, repeat;
    align-items: center;
    justify-content: center;
}

.sign-up-form-container {
  font-size: 35px;
}

#loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(130, 130, 130, 0.73);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 7px rgb(163, 163, 163);
    color: white;
}

#loginform > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 7px;
} 

#loginform > * > *{
  text-align: center;
}


/* 
 *Logged in
 */

.flex-cont-x > * {
	display: flex;
	justify-content: center;
	align-items: center;
  flex: 1;
  color: var(--bronze);
  font-size: 47px;
}

.outer-frame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 400px;
	background-color: var(--primary-color);
}

.inner-frame {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 99%;
	height: 99%;
	background-color: var(--bronze);
}

.rotate-left {
  transform: rotate(-5deg);
}

.rotate-right {
  transform:  rotate(3deg);
}

.kid-photo {
  width: 98%;
  height: 98%;
  background-color: burlywood;
  background-position: center center;
  background-size: cover;
  border: 4px inset rgba(255, 255, 255, 0.2);;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 33.33333%;
    margin: 30px;
    padding: 0 18px;
    font-size: 140px;
    background: var(--primary-color);
    color: var(--bronze);
    border: 6px inset var(--primary-color);
}