/*
 * Song Styling
*/

.song-list-cont {
	padding: 0;
    margin: 0 30px;
}

.song-list-cont .fa-heart {
	color: var(--primary-color);
}

.song-list-cont .like-count {
	color: var(--primary-color);
}

.song-list-cont .like-box {
    margin: 30px 0 30px 30px;;
}

.song-list-cont .song {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
}

.song h4, .song h4 span {
	font-weight: 400;
}