:root {
    --primary-color: #9cff9f;
    --bronze: #a35c00;
    --main-font:  'Qwigley', cursive;
    --light-pink: #ffadd3;
}

a {
  text-decoration: none;
      color: inherit;
}

* {
  font-family: var(--main-font);
}